@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');



body {
    text-align: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("https://images.unsplash.com/photo-1610832958506-aa56368176cf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2370&q=80");
}

label {
    color: white;
    font-size: 100px;
    font-family: 'Quicksand', sans-serif;

}

#button {
    background-color: rgb(194, 204, 10);
    border: solid 1px white;
    border-radius: 3px;
}

input::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: red;
}

#button:hover {
    background-color: rgb(218, 163, 25);
}

.fruits {
    margin: 10px;
    width: 150px;
    height: 100px;
    border: solid 2px rgb(133, 255, 80);
    padding: 5px;
}

#fruityFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 300px;
    z-index: -1;
}
